.header__nav{
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.header__logo{
    color: var(--light-green);
    letter-spacing: 0.75px;
}

.header__items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--light-beige);
    color: var(--light-green);
    gap: 1rem;
    
    &--hidden{
        display: none;
    }

    &--active {
        height: 100vh;
      }
}

.header__icon{
    color: var(--light-green);
}